.yourChoose{
    width: 100%;
    text-align: center;
}
.yourChoose i{
    font-size: 40px;
    transform: rotate(-180deg);
}
.yourChoose .tesoura{
    transform: rotate(-90deg);
}

.punho{
    color: red;
}
.papel{
    color: gray;
}
.tesoura{
    color: rgb(53, 53, 231);
    transform: rotate(90deg);
}
#machineChoose{
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}
#machineChoose i{
    font-size: 40px;
    transform: rotate();
}


.empate{
    color: gray;
    text-align: center;
}
.derrota{
    color: red;
    text-align: center;
}
.vitoria{
    color: green;
    text-align: center;
}
#result{
    text-align: center;
    width: 100%;
}

#placar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}
#placar span{
    margin: 0 1rem 0 .125rem;
    font-size: 1.325rem;
}
.resultados{
    display: flex;
    flex-direction: column;
}
